<!DOCTYPE html>
<html>
    <head>
                <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
                    <script>
            dataLayer = [{
                'ui': '7083599',
                'cy': 'IN',
                'rd': '2019-02-24 08:45:54',
                'cr': 'USD',
                'le': 'en:English',
                'ct': '58',
                'tt': 'unique',
                'ml': '0',
                'tr': '1',
                'ia': '1'
            }];
        </script>
        <!-- Google Optimise Minize Page Flicker -->
    <style>.async-hide { opacity: 0 !important} </style>
    <script>(function(a,s,y,n,c,h,i,d,e){s.className+=' '+y;h.start=1*new Date;
            h.end=i=function(){s.className=s.className.replace(RegExp(' ?'+y),'')};
            (a[n]=a[n]||[]).hide=h;setTimeout(function(){i();h.end=null},c);h.timeout=c;
        })(window,document.documentElement,'async-hide','dataLayer',4000,
            {'GTM-NLKPN3Q':true});</script>
    <!-- End Google Optimise Minize Page Flicker -->
    <!-- Google Optimize  -->
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
        ga('create', 'UA-59727977-3', {'storage': 'none','cookieDomain': 'login.sendpulse.com', 'clientId': '7083599'});
        ga('require', 'GTM-NLKPN3Q');
    </script>
    <!-- End Google Optimize  -->
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
            new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
            j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
            'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-NQT4SH');</script>
    <!-- End Google Tag Manager -->

        <title>SendPulse</title>
        <meta id="ma_viewport" name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
        <!--    <link rel="stylesheet" type="text/css" href="/css/jquery-ui.css?v0.1"/>-->
                    <script language="JavaScript">
                var isLocalTime = false;
                        var timeOffset = parseInt('19800');            </script>
                        <script src="/libs/jq.js"></script>
        <script src="/libs/v.js"></script>
        <script src="/libs/cus.js"></script>
                
                    <link href="bt.css"  rel="stylesheet" media="screen">
        
                    <link href="template-service.css" rel="stylesheet" media="screen">
                    
                    <link href="emailservice.css" rel="stylesheet" media="screen">
                    
        
        
                <script type="text/javascript" src="/libs/log.js"></script>


                    <script src="//www.google-analytics.com/cx/api.js?experiment=xyWlxDVMQPqdshdQ59DOdQ"></script>
        
                    
        <meta name="norton-safeweb-site-verification" content="ify4cpp-jsmqzwreu4-x03199z2nnw4o4bv7768eo4-zjxchbq7gvx7cwduckszm85equbjrsyy7rr9gferx13ts8agycc8j37mrpu7xjyf1rr4w4a-4kv6-yx93swt7" />

        

    </head>
    <body class="sp">
        <input type="hidden" id="t_gr_check" value="yes">

<!--[if lte IE 8]><div class="unsuported-warning"><h4>Sorry, your browser is not supported!</h4></div><![endif]-->        <div id="page-wrapper" class="site-wrapper clearfix"  >
        <div class="cloak-loader" ng-cloak> </div>
        <div id="side-menu" class="side-menu open">
    <div id="activate-side-menu-xs" class="visible-tablet"></div>
    <!-- <a href="/" class="logo-link logo-block">
    <img class="center-block logo-big" src="/img/sendpulse-logo1.png" width="150">
    <img class="logo-sm" src="/img/sendpulse-logo-sm.png" width="30">
</a>    <a href="javascript:void(0);" class="visible-phone" id="activate-submenu-phone"><span class="glyphicon glyphicon-menu-hamburger"></span> SendPulse</a> -->
            <div id="accrodion-collapser-phone" class="accrodion-collapser">
            <ul id="accordion" class="accordion flat-list">
                                        <li><a class="fast-create" id="createMenu" href="/emailservice/tasks/add/">
                            <span class="sp-icon icon-compose-2"></span>
                            <span class="sb-link-text">Create a campaign</span></a></li>
                                                                                        <li><a href="/emailservice/addressbooks/"><span class="sp-icon icon-address-book-2"></span> <span class="sb-link-text">Mailing lists</span></a></li>
                                                    <li><a href="/emailservice/tasks/"><span class="sp-icon icon-outbox-2"></span> <span class="sb-link-text">My campaigns</span></a></li>
                                    
                    <li><a href="/emailservice/templates/"><span class="sp-icon icon-stamp-2"></span> <span class="sb-link-text">Email templates</span></a></li>
                                                                    <li><a href="/emailservice/automation/"><span class="sp-icon icon-timeline"></span> <span class="sb-link-text">Automations</span></a></li>
                                    
                    <li><a href="/emailservice/split-tests/"><span class="sp-icon icon-swap-2"></span> <span class="sb-link-text">A/B tests</span></a></li>
                                                    <li><a href="/emailservice/forms/"><span class="sp-icon icon-browser-new-window"></span> <span class="sb-link-text">Subscription forms</span></a></li>
                
                                    <li><a href="/emailservice/senders/"><span class="sp-icon icon-mixer"></span> <span class="sb-link-text">Service settings</span></a></li>
                                
                                                    <li class="accordion-footer accordion-footer-plan-email">
                        <a href="/emailservice/billing/tariffs/" title="Quota reset: March 24, 2019">
            <span class="sp-icon icon-ap-pay"></span>
            <div class="progress">
                <div class="progress-bar" style="width: 100%"></div>
            </div>
            <!-- <div class="sb-link-text">
                Free plan
                <div>
                    <small>Upgrade plan</small>
                </div>
            </div> -->
        </a>                    </li>
                
                
                
            </ul>
            <button class="btn btn-primary btn-toggle-sidebar pull-right" id="btnToggleSidebar">
                <span class="glyphicon glyphicon-menu-left icon-sidebar-hide"></span>
                <span class="glyphicon glyphicon-menu-right icon-sidebar-show"></span>
            </button>
        </div>
    </div>
<div id="content-placeholder"><nav id="menu-navbar" class="navbar navbar-default sp-navbar">
    <ul class="nav navbar-nav sp-nav-services">
                <li class="animate js-navbar-item">
            <a href="/emailservice/" class="top-menu-item">
                <span class="top-menu-item-icon sp-icon icon-ap-message"></span>
                <div class="top-menu-item-text">EMAIL</div>
            </a>
        </li>

                    <li class="animate js-navbar-item">
                <!-- <a href="/push/" class="top-menu-item">
                    <span class="top-menu-item-icon social-icon icon-bell"></span>
                    <div class="top-menu-item-text">Push</div>
                </a> -->
            </li>
        
                    <li class="animate js-navbar-item">
                <!-- <a href="/smtp/" class="top-menu-item">
                    <span class="top-menu-item-icon sp-icon icon-ap-cloud-upl"></span>
                    <div class="top-menu-item-text">SMTP</div>
                </a> -->
            </li>
                            <li class="animate highlight-menu-item hidden-xs">
                <!-- <a href="/messengers/" class="top-menu-item">
                    <span class="sp-icon icon-comment top-menu-item-icon"></span>
                    <small class="badge status-beta">&Beta;</small>
                    Messengers
                </a> -->
            </li>
            </ul>

    <ul class="nav navbar-nav navbar-right sp-nav-account">

        <li class="js-navbar-item hidden"><a href="/manual/" class="section-link"><span>Documentation</span></a></li>
        <li class="js-navbar-item hidden"><a href="/support/" class="section-link"><span>Support</span></a></li>
        <li class="js-navbar-item hidden" id="setting-item"><a href="/settings/" class="section-link"><span>Account settings</span></a></li>
                    <li>
                <!-- <a id="refferal_nav_banner_link" href="#" class="section-link overflowed-menu-link refferal-nav-banner-link" data-toggle="popover">
                    <div class="img-circle">
                        <span class="glyphicon glyphicon-gift"></span>
                    </div>
                </a> -->
            </li>
        
        <div id="refferal_nav_banner_html" class="hidden">
            <a href="/emailservice/referrals/" class="refferal-nav-banner text-center">
                <span class="glyphicon glyphicon-heart"></span>
                                <h2>
                    <small>Get <span class="color-danger">$50</span></small>
                </h2>
                <p>
                    Refer a friend <br>and you both get $50                                    </p>
            </a>
        </div>

                    <li class="js-navbar-item hidden-xs">
                <!-- <a href="/emailservice/send-sms/" class="section-link section-info-link section-link-sms" title="Send SMS">
                    <span class="section-link-sms-inner">
                        <span class="sp-icon icon-mobile"></span>
                        <span class="hidden-sm hidden-md">Send SMS</span>
                    </span>
                </a> -->
            </li>
        
            
            
            
            <li class="dropdown" role="navigation">

                <a href="#" class="dropdown-toggle user-dropdown "  data-toggle="dropdown" aria-expanded="false"  data-target="#bs-example-navbar-collapse-1">
                    <div class="img-circle "
                                            >
                            <span class="user-char" id="user_avatar_span">R</span>
                    </div>

                        <span class="caret"></span>
                                            </a>
                    <ul id="user-dropdown" class="dropdown-menu dropdown-menu-right user-dropdown-menu" role="menu">
                        <li role="presentation" class="dropdown-header username-header">
                            <div class="username-header-inner">
                                <strong>Rishabh Goyal</strong>
                                                                    rishabhgoyal992@gmail.com                                                                                            </div>
                        </li>
                                              <li class="account-stat dropdown-header">
                          <a href="/emailservice/billing/tariffs/" title="Quota reset: March 24, 2019">
            <!-- <div class="sb-link-text">
                Free plan
                <div class="small">
                    <small>Upgrade plan</small>
                </div>
            </div> -->
        </a>                      </li>
                                            <li class="account-stat dropdown-header account-stat-balance">
                            <a href="/billing/funds/" >
                                                                Balance                                <strong>$0</strong>
                                                                    <small class="color-info pull-right-md">Add funds</small>
                                                                                            </a>
                        </li>
                        <li class="divider"></li>
                    
                                                    <li class="account-stat dropdown-header account-stat-balance">
                                <a href="/loyalty-program/view/">
                                    Token balance                                    <strong>
                                        5                                    </strong> MERCI
                                </a>
                            </li>
                            <li class="divider"></li>
                        
                                                    <li>
                                <a href="/orders/" class="clearfix">
                                    <div class="pull-left "><span class="sp-icon icon-safe"></span> Payments</div>
                                                                    </a>
                            </li>
                                                                                                    <li class="">
                                <a href="/settings/" class="">
                                    <span class="sp-icon icon-ap-settings"></span>
                                    <span>Account settings</span>
                                </a>
                            </li>
                            <li class="divider"></li>
                        
                                                    <li class="">
                                <a href="/support/" class="">
                                    <span class="sp-icon icon-support"></span>
                                    <span>Technical support</span>
                                                                    </a>
                            </li>
                                                                            <li class="">
                                <a href="/emailservice/referrals/" class="">
                                    <span class="sp-icon icon-ap-gift"></span>
                                    <span>Refer a Friend</span>
                                </a>
                            </li>
                                                                            <li class="divider"></li>
                                                <li>
                            <a href="/logout/">
                                <span class="sp-icon icon-power"></span> Log out                            </a>
                        </li>
                    </ul>

            </li>
            </ul>

</nav>
<div id="header" class="clearfix">
    <div id="header-menu" class="btn-group pull-right">
                <div class="dropdown header-menu-element hidden">
            <a class="dropdown-toggle drop-link" data-toggle="dropdown">EN <span class="caret"></span></a>
            <ul id="lang-selector" class="dropdown-menu pull-right" role="menu">
                <li><a onclick="changeLang('ru:Русский');" href="javascript:void(0)"><nobr><img src="/img/flags/ru.png" width="22"> Ru</nobr></a></li><li><a onclick="changeLang('ua:Українська');" href="javascript:void(0)"><nobr><img src="/img/flags/ua.png" width="22"> Ua</nobr></a></li><li><a onclick="changeLang('pt-br:Português do Brasil');" href="javascript:void(0)"><nobr><img src="/img/flags/pt-br.png" width="22"> Pt-br</nobr></a></li><li><a onclick="changeLang('tr:Türkçe');" href="javascript:void(0)"><nobr><img src="/img/flags/tr.png" width="22"> Tr</nobr></a></li><li><a onclick="changeLang('es-mx:Español para México');" href="javascript:void(0)"><nobr><img src="/img/flags/es-mx.png" width="22"> Es-mx</nobr></a></li>            </ul>
        </div>
    </div>
    <div class="modal fade" id="feedback-popup" role="dialog" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Leave feedback</h4>
                </div>
                <div class="modal-body">
                    <div class="alert alert-danger hidden" id="beta-error-box">You didn't enter message text</div>
                    <p>Let us know how we can improve our service.</p>
                    <textarea class="form-control" id="feed_comment" rows="6"></textarea>
                </div>
                <div class="modal-footer">
                    <button type="button" onclick="saveFeedback()" class="btn btn-primary">Send</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="feedback-thanks" role="dialog" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Information</h4>
                </div>
                <div class="modal-body">
                    <p>Thank you for the testimonial!</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Ok</button>
                </div>
            </div>
        </div>
    </div>
</div><div id="disable-all-tablet"></div><link rel="stylesheet" href="morris.css">
<script src="/libs/split.js"></script>
<div id="content-warpper" >
    <div id="breadcrumbs">
        Campaigns    </div>

    <div class="width_limit_narrow">
        <h1 id="front-page-email-service">SendPulse Service</h1>
                                        <div class="fast-links">
                            <a href="#" data-toggle="modal" data-target="#add_addressbook_dialog" class="btn btn-create"><span class="sp-icon icon-address-book-2"></span> New Mailing List</a>
                                        <div class="btn-group">
                    <a class="btn btn-action" href="/emailservice/tasks/add/"><span class="sp-icon icon-compose-2"></span> Create a campaign</a>
                    <button data-toggle="dropdown" aria-haspopup="true" class="btn btn-action dropdown-toggle" type="button">
                        <span class="caret"></span>
                    </button>
                    <ul role="menu" class="dropdown-menu">
                        <li><a href="/emailservice/tasks/add/"><span class="sp-icon icon-compose-2"></span> Create a campaign</a></li>
                                                    <li><a href="/members/emailservice/automation/add/"><span class="sp-icon icon-timeline"></span> Create automation flow</a></li>
                                                <li><a onclick="return addTask.createNewSTestButtonClick();" href="#"><span class="sp-icon icon-swap-2"></span> Start A/B test</a></li>
                        <li class="divider"></li>
                        <li><a href="/emailservice/tasks/index/goto/stat/"><span class="sp-icon icon-outbox-2"></span> My campaigns statistics</a></li>
                    </ul>
                </div>
                                        <a class="btn btn-action" href="/emailservice/send-sms/"><span class="sp-icon icon-mobile"></span> Send SMS</a>
                                        <!-- <a class="btn btn-action" href="/emailservice/send-viber/">
                    <span class="social-icon icon-viber"></span>
                    Send Viber                </a> -->
                        
        </div>
    </div>
    
    
    <div class="service-news">
                            </div>


    <div style="clear: left;"></div>

    <div class="width_limit_narrow">
        
                                <div class="panel panel-default account-stat">
        <div class="panel-body">
            <div class="row">
                                                        <div class="col-sm-6">
                                                    <div class="row">
                                <div class="col-xs-10">
                                    <label class="control-label">
                                        Subscribers: <span class="color-primary">
                                                                                        <a href="/emailservice/unique-subscribers/">0</a>
                                                                                    </span> of 2500                                    </label>
                                </div>

                                <div class="col-xs-2 text-right small">
                                    0%
                                </div>
                            </div>
                            <div class="progress small-progressbar">
                                <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
                                </div>
                            </div>
                        

                    </div>
                
                <div class="visible-xs">&nbsp;</div>
                                                        <div class="col-sm-6">
                        <div class="row">
                            <div class="col-xs-9">
                                <label class="control-label">
                                    Emails sent:
                                    <span class="color-success">
                                        0                                    </span> of 15&thinsp;000                                                                    </label>
                            </div>
                            <div class="col-xs-3 text-right small">
                                    0%
                            </div>
                        </div>
                        <div class="progress small-progressbar">
                            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
                            </div>
                        </div>
                                            </div>
                            </div>
            <!-- <p class="help-block small ">
                
                    Plan "Free 2500" will renew on March 24, 2019.                    <span class="text-muted">&bull;</span>
                    <a href="/emailservice/billing/tariffs/?at_su=def"
                       title="Upgrade your plan"><u>Upgrade your plan</u></a>

                            </p> -->
        </div>
    </div>
                                        
                    <h4 class="stat-all-graph-title overlayed-title"><span>Getting Started</span></h4>
<ul id="getting-started" class="media-list main-steps list-group">
            <li class="media list-group-item">
            <div class="media-left">
                <span class="badge">
                    1                </span>
                <div class="icon-circle-wrapper icon-circle-sm">
                    <img src="/img/my/sp_i_lists.svg" alt="">
                </div>
            </div>
            <div class="media-body">
                <h4 class="media-heading">
                    Import your list                                    </h4>
                <p>Create the mailing list of your subscribers by uploading the list into your My Account, manually or with the help of API.</p><p><a href='#' data-toggle='modal' data-target='#add_addressbook_dialog'>Create mailing list</a> &nbsp; <a href='https://support.sendpulse.com/index.php?type=page&urlcode=053186&title=How-to-create-an-address-book-with-names-of-the-recipients' target='_blank' class='color-default'>More info <small class='small-xs glyphicon glyphicon-new-window'></small></a></p>            </div>
        </li>
            <li class="media list-group-item">
            <div class="media-left">
                <span class="badge">
                    2                </span>
                <div class="icon-circle-wrapper icon-circle-sm">
                    <img src="/img/my/sp_i_editor.svg" alt="">
                </div>
            </div>
            <div class="media-body">
                <h4 class="media-heading">
                    Create email message                                    </h4>
                <p>Everything you need to know about drag-and-drop editor, <a href='/emailservice/templates/'>free templates</a> or using  <a href='/emailservice/templates/management/#load'>already-made HTML-template</a> for the future campaign. </p><p><a href='/emailservice/tasks/add/'>Create email campaign</a> &nbsp; <a href='https://support.sendpulse.com/index.php?type=page&urlcode=194019&title=How-to-create-your-own-template' target='_blank' class='color-default'>More info <small class='small-xs glyphicon glyphicon-new-window'></small></a></p>            </div>
        </li>
            <li class="media list-group-item">
            <div class="media-left">
                <span class="badge">
                    3                </span>
                <div class="icon-circle-wrapper icon-circle-sm">
                    <img src="/img/my/sp_i_stat.svg" alt="">
                </div>
            </div>
            <div class="media-body">
                <h4 class="media-heading">
                    Check out your reports                                    </h4>
                <p>Analyze the effectiveness of your email campaign and improve next emails with the help of detailed statistics. <a href='https://support.sendpulse.com/index.php?type=page&urlcode=915284&title=Statistics' target='_blank' class='color-default'>More info <small class='small-xs glyphicon glyphicon-new-window'></small></a></p>            </div>
        </li>
            <!-- <li class="media list-group-item">
            <div class="media-left">
                <span class="badge">
                    4                </span>
                <div class="icon-circle-wrapper icon-circle-sm">
                    <img src="/img/my/sp_i_forms.svg" alt="">
                </div>
            </div>
            <div class="media-body">
                <h4 class="media-heading">
                    Build your audience                                    </h4>
                <p>Increase the number of your subscribers by creating the subscription form and adding it to your website.</p><p><a href='/emailservice/forms/add/'>Create subscription form</a> &nbsp; <a href='https://support.sendpulse.com/index.php?type=page&urlcode=201014&title=Ho-to-add-a-signup-form-to-your-website' target='_blank' class='color-default'>More info <small class='small-xs glyphicon glyphicon-new-window'></small></a></p>            </div>
        </li> -->
    </ul>
        


        
            
    
    
        <!-- Merci token banner-->
    <div class="alert alert-info-mutted ad-alert js-mercitoken-alert" style="display: none;">
        <button type="button" class="close" data-dismiss="alert" onclick="hideBanner('js-mercitoken-alert');"><span aria-hidden="true">×</span><span
                    class="sr-only">Close</span></button>
        <div class="row">
            <a href="https://sendpulse.com/loyalty" target="_blank" class="col-sm-3 rekl-img mercitoken-img hidden-xs">
                <div class="clearfix">&nbsp;</div>
            </a>
            <div class="col-sm-9">
                <h4>
                    <a href="https://sendpulse.com/loyalty" target="_blank">
                        MERCI tokens are now accepted for purchasing email plans                    </a>
                    <br>
                    <small>Use MERCI tokens to pay for your SendPulse plans.</small>
                </h4>
                <p>
                    <a href='https://sendpulse.com/loyalty' target='_blank'>Learn more about our loyalty program <small class='glyphicon glyphicon glyphicon-new-window small-xs'></small></a>                </p>
            </div>
        </div>
    </div>

    
    <div class="zapier_banner alert alert-info-mutted ad-alert" style="display: none">
        <button type="button" class="close" data-dismiss="alert"  onclick="hideBanner('zapier_banner');">
            <span aria-hidden="true">×</span><span class="sr-only">Close</span>
        </button>
        <div class="row">
            <a class="col-sm-3 rekl-img zapier-img hidden-xs"
               href="#videoAboutModal"
               data-toggle="modal"
               data-videourl="https://www.youtube.com/embed/zzNjUGBG9hE"
               data-videotitle="Connect your App to SendPulse using Zapier">
                <div class="clearfix">&nbsp;</div>
            </a>
            <div class="col-sm-9">
                <h4>
                    Connect your App to SendPulse using Zapier <br>
                    <small>
                        Send contacts from your CRM, CMS, online store and more (500+ apps) to SendPulse                    </small>
                </h4>
                <p>
                    <a class="dotted"
                       href="#videoAboutModal"
                       data-toggle="modal"
                       data-videourl="https://www.youtube.com/embed/zzNjUGBG9hE"
                       data-videotitle="Connect your App to SendPulse using Zapier">Play video</a>
                    &nbsp;
                    <a href="https://www.sendpulse.com/blog/zapier-integration" target="_blank" class="">
                        Learn more                        <small class="glyphicon glyphicon glyphicon-new-window small-xs"></small>
                    </a>
                </p>
            </div>
        </div>
    </div>

    <!--mail ru banner -->
        <!-- mail ru banner end -->

    
    
    
    <div id="statistic_inbox"></div>

        
    </div>
</div>
<div style="display: none">
    <div id="splittest_isnew_dialog"><p style='maring-bottom: 3px;'> Creation of the previous A/B split test is not completed.</p> Click <b>'New A/B test'</b> to create a new split test. Or click <b>"Continue creating split test"</b> to proceed with the previous <nobr>А/В</nobr> split-test.</div>
    <div id="splittest_are_you_sure_dialog">Are you sure?</div>
    <div id="splittest_proceed_old_task">Continue creating split test</div>
    <div id="splittest_run_button_label">Run A/B test</div>
    <div id="cancel_dialog_button">Cancel</div>
    <div id="splittest_cancel_run_splittest_button">Run</div>
    <div id="add_split_test_">Start A/B test</div>
    <div id="create_new_splittest">New А/В test</div>
    <div id="splittest_no_ended">Incomplete A/B test</div>
    <div id="splittest_run_button_label">Run A/B test</div>
</div>
<div class="modal fade" id="add_addressbook_dialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">New Mailing List</h4>
            </div>
            <div class="modal-body">
                <p id="alertNameExist" class="alert alert-danger hidden">Mailing list with this name already exists</p>
                <p class="alert alert-danger hidden addBookAlertNameEmpty">Invalid mailing list name</p>
                <div class="form-group">
                    <label class="control-label">Mailing list name:&nbsp;</label>
                    <input value="New List 1"
                           type='text'
                           id="add_new_addressbook_name"
                           class="form-control"
                           onkeyup="validateAddressBookNameLength(this.id);if (event.keyCode == 13) addAddressBook();"
                           maxlength="255"
                    >
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" onclick="addAddressBook();" class="btn btn-primary">Add</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>


<div class="modal preview-modal fade" id="videoAboutModal" role="dialog" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Modal title</h4>
            </div>
            <div class="modal-body video-container">
                <iframe id="ytVideoIframe" width="900" height="507" src="" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">
        (function (d, src, c) {
        var t = d.scripts[d.scripts.length - 1], s = d.createElement('script');
        s.id = 'la_x2s6df8d';
        s.async = true;
        s.src = src;
        s.onload = s.onreadystatechange = function () {
            var rs = this.readyState;
            if (rs && (rs != 'complete') && (rs != 'loaded')) {
                return;
            }
            c(this);
        };
        t.parentElement.insertBefore(s, t.nextSibling);
    })(document,
            '//support.sendpulse.com/scripts/track.js',
            function (e) {
                LiveAgent.setUserDetails(
                    'rishabhgoyal992@gmail.com',
                    'Rishabh Goyal',
                    '');
                LiveAgent.addContactField('useremail', 'rishabhgoyal992@gmail.com');
                LiveAgent.addContactField('userid', '7083599');
                LiveAgent.addContactField('invited_user_id', '');
                LiveAgent.addContactField('paying_user', '0');
                LiveAgent.createButton('2344cf9d', e);
            });
    
    $(document).ready(function () {
        if ($('#registrationconfirmmodal').length > 0)
            $('#registrationconfirmmodal').modal('show');

        var $videoAboutModal = $('#videoAboutModal');
        $videoAboutModal.on('show.bs.modal', function (event) {
            var targetLink = $(event.relatedTarget);
            var videoUrl = targetLink.data('videourl');
            var videoTitle = targetLink.data('videotitle');
            var modal = $(this)
            modal.find('.modal-title').text(videoTitle);
            $('#ytVideoIframe').attr('src', videoUrl + '?rel=0&amp;showinfo=0');
        });
        $videoAboutModal.on('hidden.bs.modal', function () {
            $('#ytVideoIframe').attr('src', '');
        });
    });

    //#16815
    maxmind_user_id = "111557";
    (function () {
        var loadDeviceJs = function () {
            var element = document.createElement('script');
            element.src = '//device.maxmind.com/js/device.js';
            document.body.appendChild(element);
        };
        if (window.addEventListener) {
            window.addEventListener('load', loadDeviceJs, false);
        } else if (window.attachEvent) {
            window.attachEvent('onload', loadDeviceJs);
        }
    })();
</script>

    <a class="btn btn-link relevant-kb-btn"
            id="relevantKbArticlesBtn"
            href="javascript:void(0)"
            tabindex="0"
            data-toggle="popover"
            data-placement="bottom"
            data-container="body"
            data-trigger="focus"
            data-html="true">
        <span class="glyphicon glyphicon-info-sign" title="Knowledge Base"></span>
    </a>
    <div id="relevantKbHtml" class="hidden">
        <div class="relevant-kb-content">
            <h5 class="graph-title">Knowledge Base</h5>
            <ul>
                                    <li>
                        <a href="https://sendpulse.com/knowledge-base/email-service/sendpulse-basics/work-sendpulse" target="_blank" rel="noopener">
                            How to work with SendPulse?                            <span class="glyphicon glyphicon-new-window small color-light"></span>
                        </a>
                    </li>
                                    <li>
                        <a href="https://sendpulse.com/knowledge-base/email-service/email-sending/how-send-email-campaign" target="_blank" rel="noopener">
                            How to send an email campaign                            <span class="glyphicon glyphicon-new-window small color-light"></span>
                        </a>
                    </li>
                            </ul>
        </div>
    </div>
    <script>
        $(document).ready(function () {
            $('#relevantKbArticlesBtn')
                .addClass('in')
                .popover({
                    content: $('#relevantKbHtml').html()
                })
                .data('bs.popover')
                .tip()
                .addClass('relevant-kb-popover');
        });
    </script>

<div id="footer" class="clearfix">
                <script type="text/javascript">
            (function (d, src, c) {
                var t = d.scripts[d.scripts.length - 1], s = d.createElement('script');
                s.id = 'la_x2s6df8d';
                s.async = true;
                s.src = src;
                s.onload = s.onreadystatechange = function () {
                    var rs = this.readyState;
                    if (rs && (rs != 'complete') && (rs != 'loaded')) {
                        return;
                    }
                    c(this);
                };
                t.parentElement.insertBefore(s, t.nextSibling);
            })(document,
                '//support.sendpulse.com/scripts/track.js',
                function (e) {});
        </script>
        <div id="footer-menu" class="footer-menu">
        <div class="row">
            <div class=" col-md-9">
                                <ul class="flat-list">
                    <li class="f_app_link">
                        <a class="hover-effect" href="https://slack.sendpulse.com/channel/add" target="_blank">
                            <img src="/img/my/icon-slack.svg" width="24" height="24" alt="slack" title="Add to Slack">
                        </a>
                    </li>
                    <li class="f_app_link">
                        <a class="hover-effect" href="http://itunes.apple.com/app/id945711525" target="_blank">
                            <img src="/img/my/icon_app_ios.png" width="24" height="24" alt="ios" title="SendPulse iOS App">
                        </a>
                    </li>
                    <li class="f_app_link">
                        <a class="hover-effect" href="https://play.google.com/store/apps/details?id=com.sendpulse.sendpulse" target="_blank">
                            <img src="/img/my/icon_app_android.png" width="24" height="24" alt="android" title="SendPulse Android App">
                        </a>
                    </li>
                    <li><a href="/support/">Support</a></li>
                    <li><a href="/manual/">Knowledge Base</a></li>
                                        <li><a href="/emailservice/referrals/">Refer a Friend</a></li>
                                        <li><a href="/manual/privacy/">Privacy policy</a></li>
                                                            <li><a href="/emailservice/marketplace/">Special offers from our partners</a></li>
                </ul>
                            </div>

            <div class="col-md-3">
                <ul class="flat-list pull-right-md ">
                                            <li><a data-toggle="modal" data-target="#feedback-popup" class="dotted">Leave feedback</a></li>
                                                                <li class="dropup">
                            <a id="f_lang_switcher_link" data-container="body" class="text-muted" href="#f_lang_switcher_link" onclick="return false">
                                <span class="glyphicon glyphicon-globe"></span>
                                En                                <span class="caret"></span>
                            </a>
                        </li>
                                    </ul>
            </div>
        </div>


    </div>
    </div>


<div style="display: none;">
    <div id="current_lang">en</div>
    <div id="user_currency">USD</div>
    <div id="unknown_error">Sorry, there's been an unknown error. Please try again later or contact the support team.</div>
    <div id="module-name">emailservice</div>
    <div id="stat_filter_clear">Reset filter</div>
    <div id="filter_no_correct_date">Please check the dates in the filter. Maybe the end date is earlier than the start date.</div>
    <div id="goto_pay_tariff_text">Upgrade my account</div>
    <div id="information_modal_title">Information</div>
    <div id="dialog_ok_button">Ok</div>
    <div id="dialog_allow_button">Allow</div>
    <div id="dialog_cancel_button">Cancel</div>
    <div id="dialog_donotaskagain_button">Do not ask again</div>
    <div id="dialog_decline_button">Forbid</div>
    <div id="dialog_not_now_button">Not now</div>

    <div id="please_wait">Please Wait</div>
    <div id="real_user_id">7083599</div>
        <div id="real_user_id">7083599</div>
                <div id="payment_option">Auto</div>
        </div>


        <div style="display: none">
                    <div id="isPushAdsInvited">
                <!-- <a href="/push/ads/start/show">
                    <div class="text-center"><img src="/img/my/push/pic-web_push_ads_mini.png" width="239"></div>
                    <h4>Earn money on web push!</h4>
                    <p>We enabled you to send web push ads, so you can monetize your site.</p>
                    <u class="link-style">Learn more</u>
                </a> -->
            </div>
        
                    <div id="notyFacebookBanner">
                                <a href="https://sendpulse.com/send-facebook-campaign" target="_blank" rel="noopener">
                    <div class="text-center"><img src="/img/my/i-noty-facebook.png" class="noty-img-full-width" width="325"></div>
                    <h4>Facebook Messenger chatbot</h4>
                    <p>Now you can send campaigns to Facebook Messenger using chat bots!</p>
                    <u class="link-style">Learn more</u>
                </a>
            </div>
            </div>


<script type="text/javascript">
    redirectUrl = '/emailservice/';
    moduleName = 'index';
</script>
<script src="/libs/boot.js"></script>

    <script src="/libs/blockUI.js"></script>
    <script src="/libs/styblc.js"></script>


<script src="/libs/matchMedia.js"></script>
<script src="/libs/mob.js"></script>
<script src="/libs/general.js"></script>

<script src="/libs/moment-with-locales.js"></script>
<script src="/libs/moment-locale-ua.js"></script>
<script src="/libs/bootstrap-datetimepicker.js?v=4.17.37"></script>

<!--<link rel="stylesheet" type="text/css" href="/js/my/slick/slick.css" />
<script src="/js/my/slick/slick.min.js"></script>-->
<script src="/libs/bootstrap-dialog.js"></script>
    <script src="/libs/emailservice/emailservice.js?v=20190222141919"></script>
    <script src="/libs/emailservice/index.js?v=20190222141919"></script>
            <script src="/libs/raphael/raphael-min.js"></script>
                    <script src="/libs/morris.js/morris.min.js"></script>
                    <script src="/libs/jquery.easypiechart.min.js"></script>
                    <script src="/libs/user_confirmation.js"></script>
        
<script type="text/javascript">
    $(document).ready(function() {
        setInterval(function() {
            $.ajax({
                url: '/members/index/alive',
                cache: false,
                type: 'get',
                async: true
            })
        }, 600000);
    })
</script>
<script type="text/javascript">
    $(document).ready(function() {
        if(typeof experiment_id != 'undefined' && experiment_id!=null && getCookie('sp_experiment_'+experiment_id)!=1){
            var exp_name = '';
            if(typeof experiment_name != 'undefined' && experiment_name!=null) exp_name = experiment_name;
            var exp_grp = '';
            if(typeof experiment_group != 'undefined' && experiment_group!=null) exp_grp = experiment_group;
            if(exp_grp>=0) {
                $.ajax({__
                    url: '/members/index/experiment',
                    dataType: "json",
                    data: {experiment_id: experiment_id, experiment_name: exp_name, experiment_group: exp_grp},
                    type: 'POST',
                    success: function (response) {
                    }
                });
            }
        }
    })
</script>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>


    <input type="hidden" name="auth_email" class="sp_push_custom_data" value="rishabhgoyal992@gmail.com" />
    <input type="hidden" name="auth_phone" class="sp_push_custom_data" value="918552832689" />


    <script src="/dist/members/messengers/custom.js?v=20190222141919"></script>
</div></div><link rel="stylesheet" href="aside-chat.css">

<section id="asideApp" ng-controller="AsideChatCtrl as vm" ng-cloak ng-show="vm.entered">
    <!--messages chat layout-->
    <!-- <div class="floating-chat-button js-toggle-chat-menu
                button-index-position">
        <a ng-click="vm.openAside()">
            <span class="badge status-beta" ng-if="vm.chat.badge">{{ vm.chat.badge }}</span>
            <i class="sp-icon icon-comment"></i>
        </a>
    </div> -->

    <div class="aside-chat" ng-class="{'collapsed' : vm.chat.opened}">
        <div class="aside-chat-header display-table border-bottom-grey" >
            <div class="table-cell">
                <h4 class="strip-text">
                    <a class="glyphicon glyphicon-chevron-left aside-chat-header-icon"
                       ng-click="vm.showChatList(false)"
                       ng-show="vm.chat.conversation.opened"></a>
                    <span ng-if="!vm.chat.conversation.opened">Live chat</span>
                    <span ng-if="vm.chat.conversation.opened">{{ vm.bot.name }}</span>
                </h4>
            </div>
            <div class="table-cell text-right strip-text">
                <a class="sp-icon icon-maximise aside-chat-header-icon" ng-click="vm.goToBigChat()"> </a>
                <a class="close aside-chat-header-icon" ng-click="vm.closeAside()">&times;</a>
            </div>
        </div>

        <div class="text-center preloader preloader-lg preloader-puff" ng-if="vm.loader"> </div>

        <div class="aside-chat-body" ng-hide="vm.chat.conversation.opened || vm.loader">
            <div class="media media-dialog-preview" ng-click="vm.showConversation(conversation)"
                 ng-repeat="conversation in vm.conversations| orderBy:'-facebook.page.inbox.last_message.sent_at'" ng-if="conversation.facebook.page.inbox.last_message">
                {{conversation.facebook.page.inbox.last_message.messenger.message.date}}
                    <div class="media-left media-bottom">
                        <div class="media-object">
                            <img class="img-circle"
                                 ng-src="{{ conversation.facebook.account_data.picture_url }}"
                                 alt="" width="40" height="40">
                            <small class="badge messenger-icon">&nbsp;</small>
                        </div>
                    </div>
                    <div class="media-body">
                        <div class="media-body-inner">
                            <h4 class="media-heading d-flex">
                                {{ conversation.facebook.name }}

                                <div class="small ml-auto" title="{{ conversation.facebook.page.inbox.last_message.sent_at |  humanDate: 'MMM Do, h:mm' }}">
                                    <span class="badge badge-status status-green" ng-if="conversation.facebook.page.inbox.unread"></span>
                                    {{ conversation.facebook.page.inbox.last_message.sent_at |  humanDate: 'MMM Do, h:mm' }}
                                </div>
                            </h4>

                            <div class="media-body-text">
                                <span ng-if="conversation.facebook.page.inbox.last_message.messenger.message.text">
                                    {{ conversation.facebook.page.inbox.last_message.messenger.message.text }}
                                </span>
                                <span ng-if="conversation.facebook.page.inbox.last_message.messenger.message.text === null">
                                    {{ 'attachment_get'|translate }}
                                </span>
                            </div>
                        </div>
                    </div>
            </div>

            <div class="aside-chat-empty-state" ng-show="vm.emptyState">
                <img class="img-responsive center-block" src="/img/emptystates/sp-i-aside-chat.svg" alt="">
                <p class="text-muted">{{ 'no_chats'|translate }}</p>
                <a href="#" class="btn btn-action" ng-click="vm.goToBigChat()">
                    {{ 'all_chats'|translate }}
                </a>
            </div>
        </div>

        <div class="aside-chat-body no-overflow" ng-if="vm.chat.conversation.opened" ng-class="{'no-active-state' : !vm.active}">
            <chat-messages
                messages=vm.chatMessages
                bot=vm.bot
                contact=vm.contact
                sender-id=vm.contact.facebook.id
                active=vm.active
                search-after=vm.searchAfter
                storage-url=vm.storageUrl>
            </chat-messages>
        </div>
    </div>
</section>
</body></html>

<!-- 


{{!-- I have included the JS snippet here, please let me know the JS file path

    <script>
        $('#msg-clc').tooltip({
            placement: 'bottom',
            animation: false
        })
        $('#eye-slash').tooltip({
            placement: 'bottom',
            animation: false
        });
    
    </script> --}} -->